# Created by .ignore support plugin (hsz.mobi)
/web/core/
/web/modules/contrib/
/web/sites/all/drush/
/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/.ht.router.php
/web/.htaccess
/web/autoload.php
/web/example.gitignore
/web/index.php
/web/INSTALL.txt
/web/README.txt
/web/robots.txt
/web/update.php
/web/web.config
/.editorconfig
/.gitattributes
/composer.lock
/web/modules/README.txt
/web/profiles/README.txt
/web/sites/default/.gitignore
/web/sites/default/default.services.yml
/web/sites/default/default.settings.php
/web/sites/development.services.yml
/web/sites/example.settings.local.php
/web/sites/example.sites.php
/web/sites/README.txt
/web/themes/README.txt
/web/sites/default/settings.php
/vendor/
/.ddev/
/.idea/
